@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #1E293B;
  --primary: #0A3663;
  --accent: #00A896;
  --surface: #ffffff;
  --border: #CBD5E1;
  --muted: #475569;
}

.dark {
  --background: #111827;
  --foreground: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

